*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  background-color: grey;
  padding: 10px;
  flex-direction: row;
  /* for main axis */
  justify-content: center;
  /* for cross axis */
  /* stretch will be default */
  /* baseline will align elements on basis of text  */
  align-items: flex-start;
}

.item{
  background-color: pink;
  padding: 30px;
  margin: 30px;
  color: #fff;
  font-size: 40px;
}

.i2{
  height: 200px;
}

.i4{
  font-size: 70px;
}
